{
  "extends": ["@charrue/typescript", "prettier", "plugin:prettier/recommended"],
  "rules": {
    "camelcase": "off",
    "no-magic-numbers": "off",
    "no-shadow": "off",
    "no-param-reassign": "off",
    "class-methods-use-this": "off",
    "no-useless-constructor": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
